<div>
    <div>
        <div>
            <%= f.label :order, class: "px-1" %>
            <%= f.text_field :order %>
        </div>
        <div>
            <%= f.label :description, class:"px-1"%>
            <%= f.text_field :description,  :size=>"75"%>
        </div>
        <%= link_to_remove_association "X", f %>
    </div>
</div>
