<h2 class="home_h2">What is in your fridge?</h2>
<p class="home_p">You choose the ingredients. We provide the recipe. Whether you're a beginner or long time home cook, we have something for everyone.</p>

<h2>Log In</h2>

<%= form_tag login_path do %>

<%= label_tag :email %>
<%= email_field_tag :email %>

<%= label_tag :password %>
<%= password_field_tag :password %>

<%= submit_tag "Sign in" %>
<% end %>
