<%= form_for @recipe do |f| %>
    <div>
        <%= f.label :measurement, class: "px-1" %>
        <%= f.text_field :measurement %>
    </div>
    <div>
        <%= f.label :description, class:"px-1"%>
        <%= f.text_field :description %>
    </div>
