
<div>
  <div>
    <h2>
      Edit Recipe
    </h2>
    <div>
      <%= form_for @recipe do |f|%>
        <div>
          <%= f.label :"Recipe title", class: "" %><br>
          <%= f.text_field :title %>
        </div>
        <p>
          <%= f.label :"Recipe description" %><br>
          <%= f.text_area :description %>
        </p>
      <div>
        <%= f.fields_for :ingredients do |f| %>
            <%= render 'ingredient_fields', f: f %>
          <%end%>
          <div>
            <%= link_to_add_association 'Add Ingredient ', f, :ingredients, class:"" %>
          </div>
      </div>
      <div class="mb-3">
        <%= f.fields_for :steps do |f| %>
            <%= render 'step_fields', f: f %>
          <%end%>
          <div>
            <%= link_to_add_association 'Add Step', f, :steps, class:"" %>
          </div>
      </div>
        <%= f.submit "Save Changes" %>
      <% end %>
    </div>
  </div>
</div>
